@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.selectBook>div{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.selectBook div:first-child{
  width: 45%;
}

.selectBook div:nth-of-type(2){
 width: 15%;
}

.selectBook div:nth-of-type(3){
 width: 20%;
}

.selectBook label{
  font-weight:700;
}

@layer components{

  .contactUsInputs{
   @apply outline-none w-full border-2 border-amber-600 rounded-xl p-2
}
  .shopBtns{
   @apply bg-amber-400 rounded-2xl text-xl py-2 w-1/2 shadow-amber-800 shadow-lg hover:bg-amber-700 hover:text-amber-100
  }

}


#pointer {
  width: 370px;
  height: 40px;
  position: relative;
  background:  rgb(69 26 3);
  opacity: 80%;
}
#pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgb(232, 126, 16);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgb(69 26 3);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}



